
 
/**************************************************************
   All page content except for footer
 **************************************************************/

#content {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}



/**************************************************************
   Topbar with newsletter form and theme change buttons
 **************************************************************/

#topbar {
  float: left;
  width: 100%;
  padding: 0.6em 0;

  font-size: 0.9em;
  text-transform: uppercase;

  color: #7D7C68;
  background: #EBEDD8 url(../images/bg/topbar.gif) repeat-x bottom left;
}



/**************************************************************
   Top menu and logo
 **************************************************************/

#header {
	clear: both;
	width: 100%;
	position: relative;
	height: 3em;
	margin: 0 auto;
	background: #EBEDD8 url(../images/bg/header.gif) repeat-x bottom left;
	border-bottom: 3px solid #39362D;
	background-color: #39362D;
}


#header img {
  position: absolute;
  top: 20%;
  left: 50px;
}

#header ul {
  margin: 1.5em 1em 0 0 !important;
  margin: 1.5em 0.5em 0 0;
  padding: 0;
  float: right;
}

#header ul li {
  display: inline;
  list-style: none;
}

#header ul li a {
  float: left;
  padding: 0 1em;

  font: 400 1.1em arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 0.8em !important;
  line-height: 1em;

  color: #fff;
  border-right: 1px solid #39362D;
}

#header ul li a.last {
  padding-right: 0;
  border-right: 0;
}

#header ul li a:hover {
  color: #39362D;
}



/**************************************************************
   Header Image/Flash Movie
 **************************************************************/

#headerImg {
  margin: 0 auto;
/*  height: 40px; */
  height: 100px;  
  margin-top: 4px;
  background: url(../images/bg/header_image2.jpg) no-repeat top left;
}





/**************************************************************
   Top Block Menu
 **************************************************************/

#menu {
  margin: 0 auto;
}

#menu ul {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
  background: #7D7C68 url(../images/bg/menu.gif) repeat-x top left;
}

#menu ul li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu ul li a {
  float: left;
  width: 25%;
  height: 4.4em;

  font: 400 1.2em verdana, arial, sans-serif;
//  font-weight: bold;

  letter-spacing: 0.1em;

  color: #fff;

  border-top: 7px solid #39362D;
  border-bottom: 5px solid #39362D;
}

#menu ul li a span {
  display: block;
  padding: 2px 7px;
}


#menu ul li a span.desc {
  font-size: 0.8em;
  color: #000000;
}


#menu ul li a:hover,
#menu ul li a.here {
  background: #7D7C68;
  border-top: 7px solid #EBEDD8;
}

#menu ul li a:hover span.desc,
#menu ul li a.here span.desc {
  color: #FFF;
}


/* Top menu icons */
#menu ul li a span.speaker {
  padding-left: 22px;
  background: url(../images/icons/speaker.gif) no-repeat 5px 50%;
}

#menu ul li a:hover span.speaker {
  background: url(../images/icons/speaker_on.gif) no-repeat 5px 50%;
}

#menu ul li a span.bubble {
  padding-left: 24px;
  background: url(../images/icons/bubble.gif) no-repeat 4px 4px;
}

#menu ul li a:hover span.bubble {
  background: url(../images/icons/bubble_on.gif) no-repeat 4px 4px;
}

#menu ul li a span.heart {
  padding-left: 20px;
  background: url(../images/icons/heart.gif) no-repeat 3px 50%;
}

#menu ul li a:hover span.heart {
  background: url(../images/icons/heart_on.gif) no-repeat 3px 50%;
}


#menu ul li a span.dollar {
  padding-left: 20px;
  background: url(../images/icons/dollar.gif) no-repeat 4px 50%;
}

#menu ul li a:hover span.dollar {
  background: url(../images/icons/dollar_on.gif) no-repeat 4px 50%;
}




/**************************************************************
   Page Content
 **************************************************************/

#page {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 6em;
  margin-top: 1em;
  text-align: left;
  padding-bottom:100px;
}

#columns {
  margin: 0 auto;
  padding-top: 5px;
}


/* Column widths */
.width {
  width: 776px;
}

.widthPad {
  width: 776px;
}

.width25 {
  width: 24%;
}

.width50 {
  width: 48%;
}

.width73 {
  width: 73%;
}

.width75 {
  width: 75%;
}

.width100 {
  width: 100%;
}


/**************************************************************
   Footer
 **************************************************************/


#footer {
  clear: both;
  float: left;
  width: 100%;
  height: 0em;
  margin-top: -5em;

}

#footer #bg {
  position: relative;
  height: 3em;
  margin: 0 auto;
  background: #EBEDD8 url(../images/bg/header.gif) repeat-x bottom left;
  width: 100%;
  border-top: 3px solid #39362D;
  
}

#footer #bg ul {
  float: right;
  margin: 1em 1em 0 0 !important;
  margin: 3em 0.5em 0 0;
  padding: 0;
}

#footer #bg ul li {
  display: inline;
  list-style: none;
}

#footer #bg ul li a {
  float: left;
  padding: 0 1em;

  font: 400 1em arial, sans-serif;
  letter-spacing: 0.1em;
  line-height: 0.8em !important;
  line-height: 1em;

  color: #EBEDD8;
  border-right: 1px solid #fff;
}

#footer #bg ul li a.last {
  padding-right: 0;
  border-right: 0;
}

#footer #bg ul li a:hover {
  color: #39362D;
}

#footer #bg img {
  position: absolute;
  top: 6%;
  left: 10px;
}



/**************************************************************
   Icons specific to the colour theme
 **************************************************************/

a.lightTheme img,
a.darkTheme img,
a.submitButton img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

a.lightTheme img {
  background: url(../images/icons/light_light_theme.gif) no-repeat center center;
}

a.darkTheme img {
  background: url(../images/icons/light_dark_theme.gif) no-repeat center center;
}

a.submitButton img {
  background: url(../images/icons/light_submit.gif) no-repeat center center;
}


/**************************************************************
   Posts
 **************************************************************/

.post {
  float: left;
  width: 100% !important;
  width: 99%;
  position: relative;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #F6F2E6;
}

.post .date {
  position: absolute;
  top: 0;
  left: 5px;

  width: 2.3em;
  text-align: right;
}

.post .date .month {
  text-transform: uppercase;
  font: 700 1.0em arial, sans-serif;
  color: #39362D;
}

.post .date .day {
  display: block;
  margin-top: -5px;
  font: 700 2.1em arial, sans-serif;
  color: #7D7C68;
}

.post .title {
  display: block;
  padding: 0 0 5px 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #39362D;
}

.post p {
  margin: 0 0 0 3.5em;
  padding:  0 0 1em 1.2em;
  border-left: 1px solid #7D7C68;
}



/**************************************************************
   Thumbnail Lists
 **************************************************************/

.thumb {
  border-width: 1px;
  border-style: solid;
  border-color: #49473B #49473B #49473B #49473B;
}

ul.thumbs,
ul.thumbs li {
  margin: 0;
  padding: 0;
}

ul.thumbs li {
  margin: 0 0 15px 0 !important;
  margin: 0;
  padding: 0px;
  list-style: none;
}

a.thumb img {
  
  border: 3px solid #7D7C68;
}

a:hover.thumb img {
  background: #7D7C68;
  border: 3px solid #39362D;
}

a:hover.thumb {
  background: none;
}

a.thumb span {
  display: block;
  margin-top: -5px !important;
  margin-top: -2px;
}



/**************************************************************
   Generic Display 
 **************************************************************/

.block {
  display: block;
}

.clear {
  clear: both;

}

.marginRight {
  margin-right: 15px;
}

.paddingLeft {
  padding-left: 5px;
}

.paddingRight {
  padding-right: 5px;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignTop {
  vertical-align: top;
}

.alignMiddle {
  vertical-align: middle;
}

.alignBottom {
  vertical-align: bottom;
}

.lightBlueBg {
  background-color: #7D7C68;
   border-top: 2px solid #39362D;
  border-bottom: 2px solid #39362D;
}

.dark {
/*  color: #7D7C6; */
 color: #39362D; 
}
.info{
color: #fff;
font-size: 0.9em;
}



/**************************************************************
   Html Compliant stuff
 **************************************************************/


#compliant{ padding-left: 40px;  padding-top: 3px;        }
	#COPYRIGHT a{ color: White; text-decoration: none; font-weight: normal; }
	#COPYRIGHT a:hover{ text-decoration: underline;	}
	
/**************************************************************
   Screenshots
 **************************************************************/

.screens {
padding-left: 70px;
padding-right: 70px;
vertical-align: middle;
}



/* needed for IE to make :active state work first time */
a, a:visited {color:#000;} 

/* common styling for all galleries */
a.gallery, a.gallery:visited {display:block; display:inline-block; color:#000; text-decoration:none; border:1px solid #000; width:75px; height:47px; float:left; margin:4px; z-index:50;}
a.slidea {background:url(../images/screens/screenshot2_thumb.jpg);}
a.slideb {background:url(../images/screens/screenshot3_thumb.jpg);}
a.slidec {background:url(../images/screens/screenshot4_thumb.jpg);}
a.slided {background:url(../images/screens/screenshot5_thumb.jpg);}
a.slidee {background:url(../images/screens/screenshot6_thumb.jpg);}
a.slidef {background:url(../images/screens/screenshot7_thumb.jpg);}
a.slideg {background:url(../images/screens/screenshot8_thumb.jpg);}
a.slideh {background:url(../images/screens/screenshot9_thumb.jpg);}
a.gallery em, a.gallery span {display:none;}
a.gallery:hover {border:1px solid #fff;}


/* styling for TOP gallery */
#container_top {position:relative; width:525px; height:560px; background:#7D7C68; border:1px solid #39362D; margin:1em auto;}
#container_top img {border:0;}
#container_top .thumbs {position:absolute; left:0; top:0;}
#container_top a.gallery:hover span {display:block; position:absolute; width:500px; height:50px; top:110px; left:5px; padding:5px; font-style:italic; color:#fff;  z-index:100;}
#container_top a.gallery:hover span:first-line {font-style:normal; font-weight:bold; font-size:1.1em; color:#000;}
#container_top a.gallery:active, #container_top a.gallery:focus {border:1px solid #000;}
#container_top a.gallery:active em, #container_top a.gallery:focus em {display:block; position:absolute; width:500px; height:375px; top:160px; left:5px; padding:5px; color:#000; border:1px solid #3d330f; z-index:50;}
#container_top h1 {clear:both; margin:0; padding-top:200px; text-align:center; font-family: georgia, "times new roman", serif; font-size:1em; font-weight:normal; color:#fff;}
#container_top h1 em {font-size:0.6em; color:#000;}



/**************************************************************
   Backtrack Tools Menu Drop Down.
 **************************************************************/


/* style the outer div to give it width */
.menucss {
width:750px; 
font-size:0.85em;
padding-bottom:150px;
}
/* remove all the bullets, borders and padding from the default list styling */
.menucss ul {
padding:0;
margin:0;
list-style-type: none;
}
.menucss ul ul {
width:150px;
}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menucss li {
float:left;
width:150px;
position:relative;
}
/* style the links for the top level */
.menucss a, .menucss a:visited {
display:block;
font-size:11px;
text-decoration:none; 
color:#fff; 
width:139px; 
height:30px; 
border:1px solid #fff; 
border-width:1px 1px 0 0; 
background:#39362D; 
padding-left:10px; 
line-height:29px;
}
/* a hack so that IE5.5 faulty box model is corrected */
* html .menucss a, * html .menucss a:visited {
width:150px;
w\idth:139px;
}

/* style the second level background */
.menucss ul ul a.drop, .menucss ul ul a.drop:visited {
background:#949e7c;
}
/* style the second level hover */
.menucss ul ul a.drop:hover{
background:#c9ba65;
}
.menucss ul ul :hover > a.drop {
background:#c9ba65;
}
/* style the third level background */
.menucss ul ul ul a, .menu ul ul ul a:visited {
background:#e2dfa8;
}
/* style the third level hover */
.menucss ul ul ul a:hover {
background:#b2ab9b;
}
.menucss ul ul ul :hover > a {
background:#b2ab9b;
}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menucss ul ul {
visibility:hidden;
position:absolute;
height:0;
top:31px;
left:0; 
width:150px;
}
/* another hack for IE5.5 */
* html .menucss ul ul {
top:30px;
t\op:31px;
}

/* position the third level flyout menu */
.menucss ul ul ul{
left:150px; 
top:0;
width:150px;
}
/* position the third level flyout menu for a left flyout */
.menucss ul ul ul.left {
left:-150px;
}

/* style the table so that it takes no part in the layout - required for IE to work */
.menucss table {position:absolute; top:0; left:0;}

/* style the second level links */
.menucss ul ul a, .menucss ul ul a:visited {
background:#d4d8bd; 
color:#000; 
height:auto; 
line-height:1em; 
padding:5px 10px; 
width:129px
/* yet another hack for IE5.5 */
}
* html .menucss ul ul a{
width:150px;
w\idth:129px;
}


/* style the top level hover */
.menucss a:hover, .menucss ul ul a:hover{
color:#fff; 
background:#949e7c;
}
.menucss :hover > a, .menucss ul ul :hover > a {
color:#fff;
background:#949e7c;
}

/* make the second level visible when hover on first level list OR link */
.menucss ul li:hover ul,
.menucss ul a:hover ul{
visibility:visible; 
}
/* keep the third level hidden when you hover on first level list OR link */
.menucss ul :hover ul ul{
visibility:hidden;
}
/* keep the fourth level hidden when you hover on second level list OR link */
.menucss ul :hover ul :hover ul ul{
visibility:hidden;
}
/* make the third level visible when you hover over second level list OR link */
.menucss ul :hover ul :hover ul{ 
visibility:visible;
}
/* make the fourth level visible when you hover over third level list OR link */
.menucss ul :hover ul :hover ul :hover ul { 
visibility:visible;
}


/**************************************************************
   Submenu Styles
 **************************************************************/

ul.submenu1,
ul.submenu2 {
  margin: 0 0 20px 0;
  padding: 0;
}

ul.submenu1 li,
ul.submenu2 li{
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: url(foo.gif); /* because IE is balls */
}

ul.submenu1 li a,
ul.submenu2 li a {
  display: block;
  height: auto !important;

  /* Start hide from IE Mac \*/
  height: 1%;
  /* End hide from IE Mac */

  padding: 1px 5px 1px 30px;
}

ul.submenu1 li a {
  color: #fff;
  background: url(../images/bg/submenu1.gif) no-repeat 20px 50%;
}

ul.submenu1 a:hover {
  color: #39362D;
  background: #fff url(../images/bg/submenu1.gif) no-repeat 20px 50%;
}

ul.submenu2 li a {
  color: #fff;
  background: url(../images/bg/submenu2.gif) no-repeat 20px 50%;
}

ul.submenu2 a:hover {
  color: #39362D;
  background: #fff url(../images/bg/submenu2.gif) no-repeat 20px 50%;
}