/* body was set in old style sheet with 15px top margin, changed for new design, need to clear for old pages */
body { margin:0px 0px 15px 10px; background-color:#ffffff; }
body, div, span, ul, li, input, select { font-family:verdana, sans-serif; color:#555555; }
a, a:visited { color:#0860A8; text-decoration:none; }
a:hover { color:#0860A8; text-decoration:underline; }

.hide { display:none !important; }

.right { float:right; position:relative; }
.left { float:left; position:relative; }
.clearer { clear:left; line-height:0px; }

.v3nodisplay { display:none; }

/* start nav styles */
.dhtmlmenuitem { padding:5px 8px 5px 8px; }
a.dhtmlmenulink { color:#0860A8; font-size:70%; text-decoration:none; }
a.dhtmlmenulink:hover { color:#0860A8; text-decoration:none; }
a.dhtmlmenulink:visited { color:#0860A8; text-decoration:none; }

.v3search { float:right; margin:5px 8px 0px 0px; }
.v3headersearch { width:95px; height:16px; border:1px solid #CCCCCC; padding:0px; font-family:verdana, sans-serif; font-size:65%; vertical-align:top; }
.v3selectform { margin:0px 0px 0px 0px; }
.v3select { width:165px; font-size:100%; font-family:verdana, sans-serif; }
.v3select2 { font-size:100%; font-family:verdana, sans-serif; }
.v3searchlhn { margin:4px 0px 0px 0px; }
.v3lhninp { width:100px; height:16px; border:1px solid #CCCCCC; padding:0px; font-family:verdana, sans-serif; font-size:100%; vertical-align:top; }
.v3lhnsearchhdr { font-size:105%; color:#000000; margin:0px; padding:8px 0px 0px 0px; font-weight:bold; }
.v3submit { font-size:100%; font-family:verdana, sans-serif; }


.sepstyle { font-size:1px; height:1px; width:170px; margin-left:4px; background-image:url(/sites/nav/pix/drop_linerule.gif); background-repeat:repeat-x; background-position:bottom; }

.v3listhor ul, ul.v3listhor { padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3listhor ul li, ul.v3listhor li { display:block; float:left; position:relative; }

.header-image-logo { margin-left:14px; margin-top:17px; margin-bottom:17px; }
.v3masthead { position:relative; top:0; width:760px; height:85px; }
.v3masthead ul { padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3masthead ul li { display:block; float:left; position:relative; }
.v3footer { position:relative; width:760px; }
.v3footer ul { padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3footer ul li { display:block; float:left; position:relative; }

.v3navCont { height:60px; }
.v3nav { position:relative; background-image:url(/sites/nav/pix/gradient_top.gif); background-position:right; height:28px; padding-top:0px; }
.v3navul { padding-top:7px; }
.v3navul2 { padding-top:0px; }
.v3navdhtml { position:relative; float:right; padding-top:0px; }
.v3navstart { font-size:65%; color:#0860A8; padding-left:28px; }
.v3navpad { font-size:65%; color:#0860A8; padding-left:8px; padding-right:8px; border-right:1px solid #BDBABD; }
.v3navend { font-size:65%; color:#0860A8; padding-left:8px; }
.v3navend2 { font-size:65%; color:#0860A8; padding-left:8px; padding-right:8px; }
.v3navend3 { font-size:65%; color:#0860A8; padding-right:8px; padding-top:4px; }
.v3inppad { padding-top:0px; }

.v3navoff { color:#333333; }
a.v3navoff, a.v3navoff:visited  { color:#333333; text-decoration:none; }
a.v3navoff:hover  { color:#333333; text-decoration:underline; }

/* end nav styles */

/* start content styles */
.v3container { width:760px; position:absolute; top:85; }
.v3content { width:760px; font-size:65%; line-height:135%; position:relative; border-top:0px solid #bababa; }
.v3content2 { width:760px; font-size:65%; line-height:135%; position:relative; border-top:0px solid #bababa; background-image:url(/sites/templates/pix/content_bg.gif); }
.v3contentHome { width:760px; font-size:65%; line-height:135%; position:relative; }
.v3contenthr { border-top:1px solid #bababa; width:760px; position:absolute; top:85; font-size:1px;}

.v3content td { font-size:65%; line-height:135%; }
.v3content2 td  { font-size:65%; line-height:135%; }

.v3footer { width:760px; position:relative; height:30px; border-top:2px solid #bababa; }

.v3h1 { font-size:200%; line-height:120%; color:#000000; margin:0px; padding:0px 0px 23px 0px; font-weight:normal; }
.v3h1withsub { font-size:200%; color:#000000; margin:0px; padding:0px 0px 8px 0px; font-weight:normal; }
.v3h2 { font-size:125%; line-height:120%; color:#000000; margin:0px; padding:0px 0px 4px 0px; border-bottom:1px solid #bababa; }
.v3h3 { font-size:115%; color:#000000; margin:0px; padding:0px 0px 4px 0px; font-weight:bold; border-bottom:1px solid #bababa; }
.v3h4 { font-size:105%; color:#000000; margin:0px; padding:0px 0px 4px 0px; font-weight:bold; border-bottom:1px solid #bababa; }

.v3h2nohr { font-size:125%; line-height:120%; color:#000000; margin:0px; padding:0px 0px 3px 0px; }
.v3h2nohrsub { font-size:125%; line-height:120%; color:#000000; margin:0px; padding:0px 0px 23px 0px; font-weight:normal; }
.v3h3nohr { font-size:115%; color:#000000; margin:0px; padding:0px 0px 4px 0px; font-weight:bold; }
.v3h4nohr { font-size:105%; color:#000000; margin:0px; padding:0px 0px 4px 0px; font-weight:bold; }

.v3h3sub { font-size:115%; color:#000000; margin:0px; padding:0px 0px 4px 0px; }

.v3breadcrumb { font-size:90%; color:#7D7E80; padding-top:6px; padding-bottom:6px; }
.v3breadcrumb a, .v3breadcrumb a:visited, .v3breadcrumb a:hover { color:#7D7E80; text-decoration:underline; }

.v3leadpara { font-size:125%; line-height:140%; }

.v3techwire { width:582; text-align:right; color:#0860A8; padding-top:3px; padding-bottom:3px;  background-image:url(/sites/templates/pix/techwire_bg.gif); }

.v3leftnav { padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3leftnav li { color:#0860A8; padding-bottom:5px; font-size:105%;}
.v3leftnav li.v3leftnavhdr { color:#333333; font-weight:bold; padding-bottom:8px; }
.v3leftnav li.v3leftnavshdr { color:#333333; font-weight:bold; padding-bottom:8px; }
.v3leftnav li.v3leftnavshdr2 { font-size:105%; color:#333333; font-weight:bold; }
.v3leftnavlink { color:#0860A8; padding-bottom:5px; }
.v3leftnavlink a, .v3leftnavlink a:visited { color:#0860A8; text-decoration:none; }
.v3leftnavlink a:hover { color:#0860A8; text-decoration:underline; }

.v3nound:hover { text-decoration:none; }

.v3homeswf { padding-bottom:24px; }
.v3column { float:left; width:178px; }
.v3column2 { float:left; width:372px; }
.v3column3 { float:left; width:582px; }
.v3columnr { float:left; width:178px; } /* always use for the rightmost column, fixes display issue for Mac IE (right column was breaking to another row, v3_macie.css sets this width to 177px) */
.v3column4 { width:272px; }
.v3column5 { float:left; width:566px; }
.v3column6 { float:left; width:275px; }
.v3column7 { float:left; width:175px; }
.v3column8 { float:left; width:558px; }
.v3column9 { float:left; width:371px; } /* used to fix mac ie bug on description pages */
.v3gutter { float:left; width:16px; }
.v3gutter2 { float:left; width:10px; }
.v3columnx { float:left; width:170px; }
.v3column153 {float:left; width:153px;}
.v3column203 {float:left; width:203px;}
.v3select203 {width:203px; font-size:100%}
.v3column4b { width:230px; }
.v3column2b { float:left; width:362px; }

.v3height16 { height:16px; }
.v3height20 { height:20px; }
.v3height24 { height:24px; }
.v3height28 { height:28px; }
.v3height30 { height:30px; }
.v3height32 { height:32px; }
.v3height40 { height:40px; }

.v3divider { font-size:1px; height:15px; background-image:url(/sites/nav/pix/drop_linerule.gif); background-repeat:repeat-x; background-position:bottom; }
.v3divider2 { font-size:1px; height:4px; width:15px; border-bottom:1px solid #c6c6c6; }
.v3divider3 { font-size:1px; height:1px; background-image:url(/sites/nav/pix/drop_linerule.gif); background-repeat:repeat-x; background-position:bottom; }

.v3list, .v3list5 ul.v3list { padding-top:6px; padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3list li, .v3list5 ul.v3list li { padding-top:2px; padding-bottom:2px; }
.v3list li.v3listhdr { padding-top:2px; color:#333333; font-weight:bold; }

.v3bullist, .v3list3 li .v3bullist { padding-top:6px; padding-left:2px; display:block; margin:0px; list-style-type:none; }
.v3bullist li, .v3list3 li .v3bullist li { padding-top:2px; padding-bottom:2px; background-image:url(/sites/templates/pix/bullet_list.gif);  background-repeat: no-repeat; background-position: 0 9; padding-left: .6em; float:none; }
.v3bullist li.v3listhdr, .v3list3 li .v3bullist li.v3listhdr { padding-top:2px; color:#333333; font-weight:bold; }

.v3listdiv { border-top:1px solid #bababa; }

.v3list2 { padding-top:8px; padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3list2 li { font-size:110%; padding-bottom:8px; }

.v3list3 { padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3list3 li { padding-top:16px; }
.v3list3 li.top { padding-top:0px; }
.v3list3 li ul { padding-top:0px; padding-bottom:0px; padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3list3 li ul li { padding-top:0px; padding-bottom:0px; display:block; float:left; position:relative; }
.v3list3 li ul li ul { padding-top:0px; padding-bottom:0px; padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3list3 li ul li ul li { padding-top:0px; padding-bottom:0px; display:block; float:none; position:relative; }

.v3list4 { padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3list4 li.v3listhdr { color:#333333; font-weight:bold; }

.v3list5 { padding-top:8px; padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3list5 li { padding-top:0px; padding-bottom:12px; }
.v3list5 li ul { padding:0px; }
.v3list5 li ul li { padding:0px; }
.v3list5 li ul li.hdr { padding-bottom:4px; }

.v3list6 { padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3list6 li { padding-bottom:4px; }
.v3list6 li.v3listhdr { color:#333333; font-weight:bold; }

ul.v3moduleCont, .v3moduleCont ul { padding-left:0px; display:block; margin:0px; list-style-type:none; }
ul.v3moduleCont li, .v3moduleCont ul li { display:block; float:left; position:relative; }

.v3module { float:left; }
.v3modules { float:left; background-image:url(/sites/templates/pix/module_gradient_3.gif); background-repeat:none; background-position:top; }
.v3modshdr { background-image:url(/sites/templates/pix/module_nobg.gif); padding:2px 10px 6px 10px; font-size:115%; color:#000000; font-weight:bold; }
.v3modsimg { background-image:url(/sites/templates/pix/module_nobg.gif);  padding:0px 0px 2px 0px; }
.v3modulestop { background-image:url(/sites/templates/pix/module_top.gif); background-position:top; background-repeat:no-repeat; width:178px; height:5px; font-size:1px; }
.v3modulesbot { background-image:url(/sites/templates/pix/modules_bottom.gif); background-position:bottom; background-repeat:no-repeat; width:566px; height:6px; font-size:1px; }
.v3modulebot { background-image:url(/sites/templates/pix/modules_bottom.gif); background-position:bottom; background-repeat:no-repeat; width:178px; height:6px; font-size:1px; }

.v3modulewidehdr { float:left; width:566px; background-image:url(/sites/templates/pix/module_nobg_wide.gif); }
.v3modulewidecont { float:left; width:566px; background-image:url(/sites/templates/pix/module_gradient_wide.gif); }
.v3modulewidetop { background-image:url(/sites/templates/pix/module_wtb_top.gif); background-position:top; background-repeat:no-repeat; width:566px; height:5px; font-size:1px; }
.v3modulewidebot { background-image:url(/sites/templates/pix/module_wtb_bottom.gif); background-position:top; background-repeat:no-repeat; width:566px; height:6px; font-size:1px; }
.v3modwideleft { float:left; width:385px; }
.v3modwideright { float:left; width:179px; }
.v3modwidepad { padding:4px 7px 6px 10px; }
.v3modwidepad2 { padding:4px 7px 10px 10px; }
.v3modwidepad3 { padding:8px 0px 10px 10px; }
.v3modwidelcol { float:left; width:184px; }
.v3modwidercol { float:left; width:184px; }
.v3modwidelist { padding-top:4px; padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3modwidelist li { font-size:115%; padding-bottom:6px; }

.v3modulelargehdr { float:left; width:372px; background-image:url(/sites/templates/pix/moduleLarge_no_bg.gif); padding:2px 10px 6px 10px; font-size:115%; color:#000000; font-weight:bold; }
.v3modulelargecont { float:left; width:372px; background-image:url(/sites/templates/pix/moduleLarge_gradient.gif); }
.v3modulelargetop { background-image:url(/sites/templates/pix/moduleLarge_top.gif); background-position:top; background-repeat:no-repeat; width:372px; height:5px; font-size:1px; }
.v3modulelargebot { background-image:url(/sites/templates/pix/moduleLarge_bottom.gif); background-position:top; background-repeat:no-repeat; width:372px; height:6px; font-size:1px; }
.v3modlargepad { float:left; padding:7px 10px 0px 10px; }
.v3modlargepad ul { padding-left:0px; padding-right:0px; display:block; margin:0px; list-style-type:none; width:352px; }
.v3modlargepad ul li { display:block; float:left; position:relative; width:348px; }

.v3modspad { float:left; padding-top:7px; padding-left:10px; padding-right:10px; background-image:url(/sites/templates/pix/module_gradient.gif); background-repeat:none; background-position:top; }
.v3modspad ul { padding-left:0px; padding-right:0px; display:block; margin:0px; list-style-type:none; width:158px; }
.v3modspad ul li { display:block; float:left; position:relative; width:154px; }

.v3modspadnobg { float:left; padding-top:7px; padding-left:10px; padding-right:10px; }
.v3modspadnobg ul { padding-left:0px; padding-right:0px; display:block; margin:0px; list-style-type:none; width:158px; }
.v3modspadnobg ul li { display:block; float:left; position:relative; width:154px; }

.v3modspad ul li.hdr, .v3modspadnobg ul li.hdr, .v3modlargepad ul li.hdr { font-weight:bold; padding-top:8px; padding-bottom:4px; }
.v3modspad ul li.hdrtop, .v3modspadnobg ul li.hdrtop, .v3modlargepad ul li.hdrtop { font-weight:bold; padding-bottom:4px; }
.v3modspad ul li.bottom, .v3modspadnobg ul li.bottom, .v3modlargepad ul li.bottom { padding-top:2px; padding-bottom:6px; }
.v3modspad ul li.bottom2, .v3modspadnobg ul li.bottom2, .v3modlargepad ul li.bottom2 { padding-top:2px; padding-bottom:2px; }
.v3modspad ul li.bottom3, .v3modspadnobg ul li.bottom3, .v3modlargepad ul li.bottom3 { padding-top:2px; padding-bottom:8px; }
.v3modspad ul li.bottom4, .v3modspadnobg ul li.bottom4, .v3modlargepad ul li.bottom4 { padding-top:5px; padding-bottom:8px; }

.v3modslipad li { padding-bottom:4px; width:154px; }
.v3modspad ul.v3modslipad li.hdr, .v3modspad ul.v3modslipad li.hdr { padding-bottom:4px; padding-top:6px; }

.v3modschart { padding-left:0px; padding-right:0px; display:block; margin:0px; list-style-type:none; }
.v3modschart li.left { display:block; float:left; position:relative; width:100px; padding-bottom:2px; padding-top:2px; }
.v3modschart li.right { display:block; float:left; position:relative; width:54px; padding-bottom:2px; padding-top:2px; text-align:right; }

.v3module2top { background-image:url(/sites/templates/pix/module_2_top.gif); background-position:bottom; background-repeat:no-repeat; padding:6px 0px 0px 0px; }
.v3module2cont { padding:4px 10px 4px 10px; background-image:url(/sites/templates/pix/module_2_middle.gif); background-position:top; background-repeat:repeat-y; }
.v3module2bot { background-image:url(/sites/templates/pix/module_2_bottom.gif); background-position:bottom; background-repeat:no-repeat; padding:6px 0px 0px 0px; }

.v3module2left { width:165px; }
.v3module2right { padding-left:12px; width:168px; }

.v3module2bleft { width:55px; padding:4px 4px 6px 2px; }
.v3module2bright { padding-left:8px; width:283px; padding-top:4px; padding-bottom:6px; }

.v3module2wide { width:345px; }

.v3module2cont li.v3module2bright div ul.v3list { padding-top:6px; padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3module2cont li.v3module2bright div ul.v3list li { float:none; padding-top:2px; padding-bottom:2px; }

.v3module2cleft { width:55px; padding:4px 4px 6px 0px; }
.v3module2cright { padding-left:8px; width:299px; padding-top:4px; padding-bottom:6px; }

.v3module2cright .v3list { padding-top:6px; padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3list li, .v3list5 ul.v3list li { padding-top:2px; padding-bottom:2px; }
.v3list li.v3listhdr { padding-top:2px; color:#333333; font-weight:bold; }

.v3module2dright { width:170px; }

.v3module2left ul.v3module2list, .v3module2right ul.v3module2list, .v3module2wide ul.v3module2list { padding-top:4px; padding-left:0px; display:block; margin:0px; list-style-type:none; }
.v3module2left ul.v3module2list li, .v3module2right ul.v3module2list li, .v3module2wide ul.v3module2list li { font-size:115%; padding-bottom:6px; float:none; }

ul.v3backtotop { padding-left:0px; display:block; margin:0px; list-style-type:none; }
ul.v3backtotop li.v3backtotopl { width:280px; display:block; float:left; position:relative; }
ul.v3backtotop li.v3backtotopr { width:90px; display:block; float:left; position:relative; text-align:right; }

.v3but { border-left:1px solid #D6D7D6; border-right:1px solid #D6D7D6; padding-left:4px; padding-right:4px; }
.v3but2_off { background-color:#f6f6f6; padding:7px 13px 7px 13px; }
.v3but2_on { background-color:#ebebeb; padding:7px 13px 7px 13px; cursor:pointer; }
.v3buttxt { color:#0860A8; font-size:125%; font-weight:bold; }

.v3but2sm_off { background-color:#f6f6f6; padding:4px 6px 4px 6px; }
.v3but2sm_on { background-color:#ebebeb; padding:4px 6px 4px 6px; cursor:pointer; }
.v3buttxtsm { color:#0860A8; font-size:105%; font-weight:bold; }

.v3but2sm2 { width:151px; }
.v3but2sm2_off { padding:1px 3px 1px 10px; background-image:url(/products/pix/button_small_middle.gif); background-position:top; background-repeat:repeat-y;  }
.v3but2sm2_on { padding:1px 3px 1px 10px; cursor:pointer; background-image:url(/products/pix/button_small_middle_on.gif); background-position:top; background-repeat:repeat-y; }
.v3buttxtsm { color:#0860A8; font-size:100%; font-weight:bold; }

.v3popup { width:656px; position:absolute; top:0; font-size:65%; line-height:135%; }
.v3popuphdr { padding:15px; }
.v3pophdrpad { padding-left:10px; padding-top:0px; width:340px; }
.v3h1popup { font-size:200%; line-height:130%; color:#000000; margin:0px; padding:0px 0px 23px 0px; font-weight:normal; }
.v3popupsup { font-size:54%; vertical-align:30%; }
.v3popup table td, .v3popup table th { font-size:65%; line-height:135%; }
.v3poptable { width:656px; }
.v3poptablerowhdr { background-color:#555555; color:#ffffff; }
.v3poptablerowhdr th { font-weight:normal; }
.v3poptablerowon { background-color:#ecf0f3; }
.v3poptablepad { padding:4px 4px 4px 15px; vertical-align:top; text-align:left; border-bottom:1px solid #cccccc; background-image:url(/sites/templates/pix/table_linerule.gif); background-repeat:repeat-y; background-position:right; }
.v3poptablepad2 { padding:4px 4px 4px 10px; vertical-align:top; text-align:left; border-bottom:1px solid #cccccc; background-image:url(/sites/templates/pix/table_linerule.gif); background-repeat:repeat-y; background-position:right; }
.v3poptablepad3 { padding:4px 15px 4px 10px; vertical-align:top; text-align:left; border-bottom:1px solid #cccccc; }
.v3th { margin:0px; }

.v3comparetab { width:566px; }
.v3comparerowhdr { background-color:#555555; color:#ffffff; }
.v3comparerowhdr th {  font-size:75%; line-height:135%; }
.v3comparerowon { background-color:#ecf0f3; }
.v3comparepad { padding:4px 4px 4px 15px; text-align:left; border-bottom:1px solid #cccccc; background-image:url(/sites/templates/pix/table_linerule.gif); background-repeat:repeat-y; background-position:right; }
.v3comparepad2 { padding:4px 4px 4px 10px; vertical-align:top; text-align:left; border-bottom:1px solid #cccccc; background-image:url(/sites/templates/pix/table_linerule.gif); background-repeat:repeat-y; background-position:right; }
.v3comparepad3 { padding:4px 15px 4px 10px; vertical-align:top; text-align:left; border-bottom:1px solid #cccccc; }
.v3comparepadtop { width:25%; padding:4px 4px 4px 10px; vertical-align:top; text-align:left; border-bottom:1px solid #cccccc; }

.v3copy { color:#0860A8; }
.v3copysm { font-size:90%; color:#0860A8; }
.v3supCSS { font-size:54%; vertical-align:60%; }
.v3sm { font-size:80%; }
.v3alignright { text-align:right; }
.v3norm { font-weight:normal; color:#555555 }

.v3pad8 { padding:8px; }

.v3pad1t { padding-top:1px; }
.v3pad2t { padding-top:2px; }
.v3pad3t { padding-top:3px; }
.v3pad4t { padding-top:4px; }
.v3pad6t { padding-top:6px; }
.v3pad7t { padding-top:7px; }
.v3pad8t { padding-top:8px; }
.v3pad11t { padding-top:11px; }
.v3pad12t { padding-top:12px; }
.v3pad13t { padding-top:13px; }
.v3pad14t { padding-top:14px; }
.v3pad15t { padding-top:15px; }
.v3pad16t { padding-top:16px; }
.v3pad17t { padding-top:17px; }
.v3pad20t { padding-top:20px; }
.v3pad22t { padding-top:22px; }
.v3pad24t { padding-top:24px; }
.v3pad26t { padding-top:26px; }
.v3pad28t { padding-top:28px; }
.v3pad32t { padding-top:32px; }
.v3pad64t { padding-top:64px; }

.v3pad2b { padding-bottom:2px; }
.v3pad5b { padding-bottom:5px; }
.v3pad6b { padding-bottom:6px; }
.v3pad8b { padding-bottom:8px; }
.v3pad9b { padding-bottom:9px; }
.v3pad10b { padding-bottom:10px; }
.v3pad14b { padding-bottom:14px; }
.v3pad20b { padding-bottom:20px; }

.v3pad2r { padding-right:2px; }
.v3pad4r { padding-right:4px; }
.v3pad6r { padding-right:6px; }
.v3pad15r { padding-right:15px; }

.v3pad3l { padding-left:3px; }
.v3pad8l { padding-left:8px; }
.v3pad12l { padding-left:12px; }
.v3pad15l { padding-left:15px; }

.v3pad10lr3b { padding-right:10px; padding-bottom:7px; padding-left:10px; }

.v3mar4l { margin-left:4px; }
.v3mar8l { margin-left:8px; }

.v3mar4r { margin-right:4px; }

.v3iMask { position:absolute; left:-300px; top:-300px; z-index:10; }

.v3inenglish { margin-left:2px; margin-top:-32px; }

/* Code in Support of 30recode */
#HAT-subheader {margin-bottom:0px !important}
/* /Code in Support of 30recode */

